@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DM Sans, sans-serif;
}
p, span, div, a {
  font-family:DM Sans, sans-serif;
}
button{
  font-family: DM Sans, sans-serif !important;
}
Button{
  font-family: DM Sans, sans-serif !important;
}
th{
  font-family: DM Sans, sans-serif !important;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: auto;
}

.scrollable-container {
  overflow-y: auto;
  overflow-x: hidden;
}
.MuiSnackbar-root {
  background-color: inherit;
  color: #fff;
  text-align: center !important;
  box-shadow: 0 11px 20px rgba(130, 130, 130, 0.15) !important;
}

.ibm-font{
  font-family: var(--IBM_plex_Sans), serif;
}

.dm-sans-font{
  font-family: DM Sans, sans-serif;
}

.nunito-sans{
  font-family: var(--Nunito_Sans), sans-serif;
}

.scrollable-container::-webkit-scrollbar {
  width: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #EAECF0;
  border-radius: 8px;
  cursor: pointer;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

/* Add this to your global CSS or a specific CSS file */
.w-full {
  width: 100%;
}

@media (min-width: 768px) {
  .w-md {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .w-lg {
    width: 685px;
  }
}
@media (min-width: 1280px) {
  .w-xl {
    width: 913px;
  }
}



@layer utilities {

}